.additional-card {
  @media (--desktop-width) {
    padding-top: 16px;
    padding-bottom: 15px;
  }
}

.additional-card__wrapper {
  @media (--tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

.additional-card__title {
  margin-top: 15px;
  margin-bottom: 11px;

  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-family: var(--set-Oswald-font-family);
  text-transform: uppercase;

  border-bottom: none;

  @media (--tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding-left: 8px;
  }

  @media (--desktop-width) {
    margin-right: 55px;
    margin-top: 0;
    margin-bottom: 0;
    width: 170px;
    height: 25px;
    padding-left: 0;
  }
}

.additional-card__table {
  width: 100%;
  margin-bottom: 14px;

  border-collapse: collapse;
  font-size: 14px;
  line-height: 14px;
  font-family: var(--set-Arial-font-family);

  @media (--tablet-width) {
    margin-right: 6px;
    margin-top: 16px;
    width: auto;
  }

  @media (--desktop-width) {
    width: 340px;
    margin-left: 50px;
    margin-right: 35px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.additional-card__table-cell {
  &--litre {
    @media (--tablet-width) {
      padding-right: 7px;
    }
  }

  &--ruble {
    @media (--desktop-width) {
      padding-right: 10px;
    }
  }

  &:nth-child(2) {
    text-align: right;

    @media (--desktop-width) {
      text-align: right;
    }
  }

  @media (--tablet-width) {
    padding-left: 50px;

    font-size: 16px;
    line-height: 20px;
  }

  @media (--desktop-width) {
    padding-top: 4px;
  }
}

.additional-card__btn {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;

  @media (--tablet-width) {
    margin-top: 9px;
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 17px;
  }

  @media (--desktop-width) {
    margin: 0;
    width: 245px;
  }
}
