.additional__wrapper {
  @media (--desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.additional__list {
  margin-bottom: 50px;

  @media (--desktop-width) {
    width: 895px;
  }
}

.additional__promo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 289px;
  margin-top: 50px;
  margin-bottom: 30px;

  background-color: var(--green-color);
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (--tablet-width) {
    flex-direction: row;
    height: 200px;

    background-position: 0 -290px;
  }

  @media (--desktop-width) {
    flex-direction: column;
    width: 245px;
    min-height: 290px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.additional__title {
  position: relative;

  margin: 0;
  padding-top: 40px;
  padding-bottom: 40px;

  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  font-family: var(--set-Oswald-font-family);

  border-bottom: 1px solid var(--grey-color-stat);

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 55px;
    right: -20px;

    width: 60px;
    height: 3px;

    background-color: var(--green-color);

    @media (--tablet-width) {
      top: 60px;
      right: -30px;

      width: 330px;
    }

    @media (--desktop-width) {
      width: 800px;
    }
  }

  &::before {
    content: none;

    @media (--tablet-width) {
      content: "";
      right: 0;
      left: -30px;

      width: 30px;
    }
  }

  @media (--tablet-width) {
    font-size: 36px;
    line-height: 36px;

    border-bottom: none;
  }
}

.additional__item {
  border-bottom: 1px solid var(--grey-color-stat);

  &:last-child {
    border-bottom: 1px solid var(--color-border-nav);
  }

  @media (--tablet-width) {
    padding: 10px 30px;

    border: 1px solid var(--color-border-nav);
    border-bottom: none;
  }

  @media (--desktop-width) {
    padding: 11px 0;

    border-right: none;
    border-left: none;
  }
}

.additional__text {
  width: 170px;

  font-size: 16px;
  line-height: 20px;
  font-family: var(--set-Arial-font-family);
  text-align: center;
  color: white;
}

.additional__icon-block {
  width: 62px;
  height: 63px;
}
