.address {
  display: flex;
  justify-content: space-between;
}

.address__title {
  width: 140px;
  min-height: 65px;
  margin-top: 17px;
  margin-right: 17px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: var(--set-Oswald-font-family);
  text-transform: uppercase;

  @media (--tablet-width) {
    font-size: 20px;
    line-height: 25px;
  }
}

.address__block {
  padding-top: 15px;
}

.address__text {
  width: 140px;
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: var(--set-Arial-font-family);

  @media (--tablet-width) {
    width: 170px;
    margin-bottom: 20px;
    font-size: 16px;
    text-align: right;
  }

  @media (--desktop-width) {
    text-align: left;
  }
}
