.btn {
  width: 100%;
  min-height: 40px;
  padding-right: 0;
  padding-left: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: var(--set-Oswald-font-family);
  color: white;
  text-transform: uppercase;
  outline: none;

  border: none;

  @media (--tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (--desktop-width) {
    max-width: 570px;
  }

  &--green {
    background-color: var(--green-color);

    &:hover {
      background-color: var(--green-btn-hvr);
    }

    &:active {
      color: var(--green-btn-active);
    }
  }

  &--form {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 21px;

    @media (--tablet-width) {
      width: 283px;
      height: 52px;
      margin-right: 60px;
      margin-left: 41px;
      padding-top: 0;
      padding-bottom: 0;

      font-size: 20px;
      line-height: 20px;
    }

    @media (--desktop-width) {
      flex-grow: 1;
      margin-right: 80px;
      margin-left: 0;
    }
  }

  &--grey {
    color: var(--grey-color-font);

    background-color: var(--bgc-grey);

    &:hover {
      background-color: var(--bgc-grey-hover);
    }

    &:active {
      color: var(--grey-btn-active);
    }
  }

  &--close {
    position: absolute;
    top: -45px;
    right: 0;

    width: 25px;
    min-height: 21px;
    background-color: white;
    background-image: url("../img/icon-mobile-menu.svg");
    background-repeat: no-repeat;

    border: none;

    @media (--tablet-width) {
      display: none;
    }
  }
  
  &--open {
    background-color: white;
    background-image: url("../img/icon-close.svg");
    background-repeat: no-repeat;
    width: 25px;
    min-height: 21px;
    position: absolute;
    top: -45px;
    right: 0;

    @media (--tablet-width) {
      display: none;
    }
  }
}
