.catalog__list {
  @media (--tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.catalog__title {
  position: relative;

  margin-bottom: 50px;

  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  font-family: var(--set-Oswald-font-family);

  &::after {
    content: "";
    position: absolute;
    bottom: -40px;
    left: -20px;

    width: 100vw;
    height: 1px;

    background-color: var(--grey-border-color);

    @media (--tablet-width) {
      content: none;
    }
  }

  @media (--tablet-width) {
    margin-bottom: 100px;

    font-size: 60px;
    line-height: 60px;
  }
}
