.catalog-card {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 25px;

  @media (--tablet-width) {
    flex-direction: column;
    width: 324px;
    height: 431px;
    margin-bottom: 140px;
    padding: 20px;

    background-color: var(--bgc-grey);
  }

  @media (--desktop-width) {
    width: 245px;
    margin-bottom: 142px;
  }

  &:last-child,
  &:nth-last-child(2) {
    @media (--tablet-width) {
      margin-bottom: 20px;
    }

    @media (--desktop-width) {
      margin-bottom: auto;
    }
  }

  &:last-child,
  &:nth-last-child(2),
  &:nth-last-child(3),
  &:nth-last-child(4) {
    @media (--desktop-width) {
      margin-bottom: 0;
    }
  }

  &--info {
    flex-direction: column;

    background-color: white;


    @media (--tablet-width) {
      border: 1px solid var(--color-border-nav);
      background-color: white;
    }
  }
}

.catalog-card__info {
  width: 140px;
  margin-right: 0;

  @media (--tablet-width) {
    width: auto;
  }
}

.catalog-card__link {
  color: black;

  @media (--tablet-width) {
    display: block;
  }
}

.catalog-card__img {
  @media (--tablet-width) {
    transform: translateX(25%);
  }
}

.catalog-card__title {
  width: 80px;
  margin-top: 22px;
  margin-bottom: 11px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: var(--set-Oswald-font-family);
  text-transform: uppercase;

  @media (--tablet-width) {
    width: 130px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -4px;
    margin-bottom: 21px;

    font-size: 20px;
    text-align: center;
  }

  @media (--desktop-width) {
    margin-bottom: 20px;
  }

  &--show-more {
    position: relative;

    width: auto;
    margin-right: auto;
    margin-bottom: 8px;
    margin-left: auto;
    padding-top: 57px;
    padding-bottom: 0;

    font-size: 16px;
    line-height: 20px;

    border-bottom: none;

    @media (--tablet-width) {
      width: 140px;
      padding-top: 85px;
      margin-bottom: 28px;
      font-size: 20px;
      line-height: 20px;
      text-align: center;

      transform: translateY(50%);
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 23%;
      left: 42%;

      width: 30px;
      height: 2px;

      background-color: var(--color-plus-icon);

      @media (--tablet-width) {
        top: 4%;
        left: 29%;
        width: 60px;
      }
    }

    &::after {
      transform: rotate(90deg);
    }
  }
}

.catalog-card__text {
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
  padding: 0;

  font-size: 12px;
  line-height: 16px;
  font-family: var(--set-Arial-font-family);

  @media (--tablet-width) {
    width: 170px;
    min-height: 100px;
    padding-top: 60px;
    margin-bottom: 86px;

    font-size: 16px;
    line-height: normal;
    text-align: center;
  }
}

.catalog-card__table {
  width: 100%;

  border-collapse: collapse;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-family: var(--set-Arial-font-family);
  padding-left: 17px;
  padding-right: 17px;

  @media (--tablet-width) {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 37px;
  }

  @media (--desktop-width) {
    width: 169px;
    margin-bottom: 38px;
  }
}

.catalog-card__table-cell {
  padding: 0;

  @media (--tablet-width) {
    padding-top: 7px;
    padding-bottom: 7px;

    font-size: 16px;
    line-height: 16px;

    border-bottom: 1px solid var(--grey-color-stat);
  }

  &:nth-child(2) {
    text-align: right;
  }
}

.catalog-card__btn {
  position: relative;

  font-size: 16px;
  line-height: 20px;
  margin-top: -4px;

  @media (--tablet-width) {
    width: 249px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (--desktop-width) {
    width: 169px;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -25px;
    left: -20px;

    width: 100vw;
    height: 1px;

    background-color: var(--grey-border-color);

    @media (--tablet-width) {
      content: none;
    }
  }
}
