.catalog__list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (--tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 19px;
  }

  @media (--desktop-width) {
    margin-bottom: 48px;
  }
}

.catalog__title {
  position: relative;

  margin-bottom: 29px;
  margin-top: 15px;

  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  font-family: var(--set-Oswald-font-family);

  @media (--tablet-width) {
    margin-top: 25px;
    margin-bottom: 165px;

    font-size: 60px;
    line-height: 60px;
  }

  @media (--desktop-width) {
    margin-top: 65px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -29px;
    left: -20px;

    width: 100vw;
    height: 1px;

    background-color: var(--grey-border-color);

    @media (--tablet-width) {
      content: none;
    }
  }
}
