.checkbox-input {
  @media (--tablet-width) {
    width: 280px;
  }
}

.checkbox-input__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: var(--set-Oswald-font-family);
  text-transform: uppercase;

  @media (--tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}
