.email-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 45px;

  @media (--desktop-width) {
    width: 570px;
  }
}

.email-input__label {
  margin-right: 10px;

  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: var(--set-Oswald-font-family);
  text-transform: uppercase;

  @media (--tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-right: 20px;
  }
}

.email-input__control {
  flex-grow: 1;
  padding: 12px 50px 12px 15px;

  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: var(--set-Oswald-font-family);
  text-transform: uppercase;
  outline: none;
  border: 1px solid var(--grey-border-color);

  &:hover {
    border: 1px solid var(--grey-input-hover);
  }

  &:focus {
    border: 1px solid var(--grey-color-font);
  }

  @media (--tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
  }
}
