.example {
  background-color: var(--bgc-grey);

  @media (--tablet-width) {
    background-color: white;
  }

  @media (--desktop-width) {
    background-color: var(--bgc-grey);
    position: relative;
  }
}

.example__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  min-height: 140px;

  @media (--tablet-width) {
    padding-bottom: 232px;
    flex-wrap: nowrap;
  }

  @media (--desktop-width) {
    display: block;
    padding-bottom: 0;
  }
}

.example__wrapper-adaptive {
  padding-bottom: 5px;

  @media (--desktop-width) {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
  }
}

.example__stat {
  @media (--tablet-width) {
    margin-right: 42px;
  }

  @media (--desktop-width) {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 56px;
    margin-right: 39px;
  }
}

.example__title {
  font-family: var(--set-Oswald-font-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 17px;
  padding-bottom: 14px;

  @media (--tablet-width) {
    margin-top: 29px;
    font-size: 60px;
    margin-bottom: 50px;
  }

  @media (--desktop-width) {
    position: absolute;
    top: -178px;
  }
}

.example__text {
  margin-top: 0;
  margin-bottom: 9px;
  font-family: var(--set-Arial-font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  @media (--tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 52px;
  }

  @media (--desktop-width) {
    margin-top: 70px;
    width: 435px;
    margin-bottom: 69px;
  }
}

.example__total {
  margin-left: auto;
  margin-right: auto;

  @media (--tablet-width) {
    width: 180px;
    text-align: right;
    margin-right: 0;
  }

  @media (--desktop-width) {
    margin-left: 0;
    width: 350px;
    text-align: left;
  }
}

.example__price {
  font-family: var(--set-Oswald-font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;

  @media (--tablet-width) {
    display: block;
    font-size: 20px;
    margin-top: 7px;
  }

  @media (--desktop-width) {
    display: inline-block;
    vertical-align: middle;
    margin-right: 60px;
  }

  &:last-child {
    @media (--desktop-width) {
      margin-right: 0;
    }
  }
}
