.features__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  font-family: var(--set-Oswald-font-family);
  margin-bottom: 38px;

  @media (--tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 45px;
    margin-bottom: 39px;
  }

  @media (--desktop-width) {
    margin-top: 43px;
  }
}

.features__list {
  position: relative;
  padding-bottom: 25px;

  &::after {
    @media (--tablet-width) {
      content: "";
      position: absolute;
      bottom: 0;
      left: -30px;

      width: 100vw;
      height: 1px;

      background-color: var(--color-border-nav);
    }

    @media (--desktop-width) {
      content: none;
    }
  }

  @media (--tablet-width) {
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (--desktop-width) {
    padding-bottom: 159px;
  }
}

.features__item {
  position: relative;

  min-height: 60px;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-left: 82px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: var(--set-Arial-font-family);

  &--leaf,
  &--powder,
  &--dining,
  &--clock {
    &::before {
      content: "";
      position: absolute;
      top: 3px;
      left: 0;

      width: 60px;
      height: 60px;

      background-color: var(--green-color);
      background-repeat: no-repeat;
      background-position: 6px 5px;

      @media (--tablet-width) {
        width: 80px;
        height: 80px;
        top: 32px;

        background-position: 16px 15px;
      }
    }

    @media (--tablet-width) {
      width: 325px;
      min-height: 230px;
      padding-top: 143px;
      padding-left: 0;
      margin-bottom: 87px;

      font-size: 16px;
      line-height: 24px;
    }

    @media (--desktop-width) {
      width: 245px;
    }
  }

  &--leaf {
    &::before {
      background-image: url("../img/advantage-leaf@1x.png");
    }
  }

  &--powder {
    &::before {
      background-image: url("../img/advantage-powder@1x.png");
    }
  }

  &--dining {
    &::before {
      background-image: url("../img/advantage-dining@1x.png");
    }
  }

  &--clock {
    &::before {
      background-image: url("../img/advantage-clock@1x.png");
    }
  }
}

.features__content {
  margin: 0;

  @media (--tablet-width) {
    width: 245px;
  }
}
