.form {
  padding-bottom: 31px;

  @media (--tablet-width) {
    padding-bottom: 50px;
  }

  @media (--desktop-width) {
    padding-bottom: 0;
  }
}

.form__wrapper {
  position: relative;

  @media (--tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  @media (--desktop-width) {
    flex-wrap: nowrap;
    margin-bottom: 68px;
  }

  &--cat-data {
    @media (--desktop-width) {
      margin-bottom: 0;
    }
  }

  &--additional {
    @media (--desktop-width) {
      margin-bottom: 0;
    }
  }

  &--btn {
    @media (--desktop-width) {
      margin-bottom: 60px;
    }
  }
}

.form__title {
  margin-top: 15px;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  font-family: var(--set-Oswald-font-family);

  @media (--tablet-width) {
    margin-top: 25px;
    margin-bottom: 55px;
    font-size: 60px;
  }

  @media (--desktop-width) {
    margin-top: 65px;
  }
}

.form__text {
  width: 230px;
  margin-bottom: 38px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: var(--set-Oswald-font-family);
  text-transform: uppercase;

  @media (--tablet-width) {
    width: 330px;
    margin-left: 40px;
    margin-top: 0;
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (--desktop-width) {
    margin-bottom: 61px;
  }

  &--footnote {
    width: 165px;
    margin: auto;
    padding-left: 10px;

    font-weight: 400;
    line-height: 16px;
    font-family: var(--set-Arial-font-family);
    text-transform: none;

    @media (--tablet-width) {
      margin-top: 17px;
      width: auto;
      font-size: 16px;
      margin-left: 0;
    }

    @media (--desktop-width) {
      margin-left: 50px;
    }
  }

  @media (--desktop-width) {
    margin-left: 0;
  }
}

.form__fieldset {
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 24px;
  padding-top: 30px;
  padding-bottom: 20px;

  border: none;

  @media (--tablet-width) {
    margin-right: 37px;
    margin-left: 40px;
    margin-bottom: 72px;
    padding-left: 0;
    padding-right: 0;
  }

  @media (--desktop-width) {
    min-height: 196px;
    margin-left: 0;
    margin-right: 0;
  }

  &--grey-border {
    padding-left: 0;
    padding-right: 0;
    padding-top: 28px;
    margin-bottom: 34px;
    position: relative;

    &::before,
    &::after {
      content: "";
      width: 100vw;
      height: 1px;
      background-color: var(--grey-border-color);
      position: absolute;
      top: 0;
      left: -20px;

      @media (--tablet-width) {
        content: none;
      }
    }

    &::after {
      top: 157px;
    }

    @media (--tablet-width) {
      margin-right: 37px;
      margin-left: 40px;
      padding-top: 34px;
      padding-bottom: 31px;
      margin-bottom: 75px;

      border: 1px solid var(--grey-border-color);
      width: 100%;
    }

    @media (--desktop-width) {
      width: 570px;
      min-height: 198px;
      margin-top: 4px;
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 0;
    }
  }

  &--cat-data {
    margin-bottom: 0;
    padding-bottom: 16px;

    @media (--tablet-width) {
      padding-bottom: 45px;
    }

    @media (--desktop-width) {
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 35px;
    }
  }

  &--text {
    padding: 0;
    width: 100%;
    border: none;

    @media (--desktop-width) {
      width: 570px;
    }

    @media (--desktop-width) {
      margin-bottom: 0;
    }
  }

  &--additional,
  &--textarea {
    @media (--desktop-width) {
      width: auto;
    }
  }

  &--additional {
    margin-bottom: 19px;

    @media (--tablet-width) {
      padding-bottom: 0;
      margin-bottom: 12px;
    }

    @media (--desktop-width) {
      min-height: 182px;
    }
  }

  &--textarea {
    margin-bottom: 0;
    padding-bottom: 12px;

    @media (--tablet-width) {
      padding-bottom: 40px;
    }
  }
}

.form__legend {
  margin-bottom: 3px;
  position: relative;

  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  font-family: var(--set-Oswald-font-family);

  background-color: white;

  @media (--tablet-width) {
    width: auto;
    padding: 0;
    padding-left: 20px;
    padding-right: 40px;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 46px;
  }

  @media (--desktop-width) {
    margin-bottom: 76px;
  }

  &--textarea {
    @media (--tablet-width) {
      margin-bottom: 47px;
    }
  }

  &--cat-data {
    width: 225px;

    @media (--tablet-width) {
      width: auto;
    }
  }

  &--additional {
    margin-bottom: 10px;

    @media (--tablet-width) {
      margin-bottom: 36px;
    }

    @media (--desktop-width) {
      margin-bottom: 37px;
    }
  }
}

.form__item {
  margin-bottom: 14px;

  @media (--tablet-width) {
    margin-bottom: 20px;
  }
}
