.form {
  padding-bottom: 50px;
}

.form__wrapper {
  position: relative;

  @media (--tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  @media (--desktop-width) {
    flex-wrap: nowrap;
  }
}

.form__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  font-family: var(--set-Oswald-font-family);

  @media (--tablet-width) {
    font-size: 60px;
  }
}

.form__text {
  width: 230px;
  margin-bottom: 40px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: var(--set-Oswald-font-family);
  text-transform: uppercase;

  @media (--tablet-width) {
    width: 330px;
    margin-left: 40px;
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 30px;
  }

  &--footnote {
    width: 165px;
    margin: auto;
    margin-left: 0;

    font-weight: 400;
    line-height: 16px;
    font-family: var(--set-Arial-font-family);
    text-transform: none;

    @media (--tablet-width) {
      font-size: 14px;
    }

    @media (--desktop-width) {
      margin-left: 50px;
    }
  }

  @media (--desktop-width) {
    margin-left: 0;
  }
}

.form__fieldset {
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 20px;

  border: none;

  @media (--tablet-width) {
    margin-right: 40px;
    margin-left: 40px;
    padding-left: 0;
    padding-right: 0;
  }

  @media (--desktop-width) {
    min-height: 196px;
    margin-left: 0;
    margin-right: 0;
  }

  &--grey-border {
    border-top: 1px solid var(--grey-border-color);
    border-bottom: 1px solid var(--grey-border-color);
    padding-left: 0;
    padding-right: 0;

    @media (--tablet-width) {
      margin-right: 40px;
      margin-left: 40px;

      border: 1px solid var(--grey-border-color);
      width: 100%;
    }

    @media (--desktop-width) {
      width: 570px;
      padding-top: 0;
      padding-bottom: 0;
      min-height: 200px;
      margin-right: 0;
      margin-left: 0;
    }
  }

  &--text {
    padding: 0;
    width: 100%;
    border: none;

    @media (--desktop-width) {
      width: 570px;
    }
  }

  &--additional,
  &--textarea {
    @media (--desktop-width) {
      width: auto;
    }
  }
}

.form__legend {
  position: relative;

  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  font-family: var(--set-Oswald-font-family);

  background-color: white;
  /*************************
  &::after {
    content: "";
    position: absolute;
    top: 14px;
    right: -93px;

    width: 90px;
    height: 3px;

    background-color: var(--green-color);

    @media (--tablet-width) {
      right: -337px;

      width: 300px;
    }

    @media (--desktop-width) {
      right: -800px;

      width: 700px;
    }
  }
  *************************/

  @media (--tablet-width) {
    width: auto;
    padding: 0;
    font-size: 36px;
    line-height: 36px;
  }
}

.form__item {
  margin-bottom: 10px;
}
