.list__item {
  width: 100%;
  border-top: 1px solid var(--color-border-nav);
  min-height: 66px;
  position: relative;
}

.list--hidden {
  display: none;
}

.list__link {
  display: block;
  font-family: var(--set-Oswald-font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: black;
  text-transform: uppercase;
}
