.list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (--tablet-width) {
    display: flex;
  }

  @media (--desktop-width) {
    justify-content: flex-end;
  }
}

.list__item {
  position: relative;

  min-height: 66px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;

    width: 100vw;
    height: 1px;

    background-color: var(--color-border-nav);

    @media (--tablet-width) {
      content: none;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  @media (--tablet-width) {
    margin-right: 35px;

    border-top: none;
  }
}

.list--hidden {
  display: none;
}

.list__link {
  display: block;
  padding: 23px 0;

  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  font-family: var(--set-Oswald-font-family);
  text-align: center;
  color: black;
  text-transform: uppercase;
  text-align: center;
  padding: 23px 0;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--index-page {
    @media (--desktop-width) {
      color: white;
    }
  }

  @media (--tablet-width) {
    padding-top: 17px;
    padding-bottom: 7px;

    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    &--active {
      border-bottom: 2px solid var(--green-color);
    }
  }

  @media (--desktop-width) {
    font-size: 20px;
  }
}
