.offer {
  background-color: var(--bgc-grey);

  @media (--desktop-width) {
    min-width: 570px;
  }
}

.offer__wrapper {
  margin-right: 20px;
  margin-left: 20px;

  @media (--tablet-width) {
    margin-right: 53px;
    margin-left: 53px;
  }
}

.offer__item {
  margin: 0;

  @media (--tablet-width) {
    margin-bottom: 35px;
  }
}

.offer__title {
  &--mass,
  &--slim {
    position: relative;

    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 11px;

    font-weight: 400;
    font-size: 24px;
    line-height: 37px;
    font-family: var(--set-Oswald-font-family);
    text-align: center;
    text-transform: uppercase;

    &::before {
      content: "";
      position: absolute;
      top: 26px;
      left: 2px;

      width: 50px;
      height: 50px;

      background-color: var(--green-color);
      border-radius: 50%;

      @media (--tablet-width) {
        top: 92px;
        left: 393px;

        width: 200px;
        height: 200px;
      }

      @media (--desktop-width) {
        top: 47px;
        left: 0;

        width: 100px;
        height: 100px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 37px;
      left: -8px;

      width: 68px;
      height: 28px;

      background-image: url("../img/icon-cat-pro.svg");
      background-repeat: no-repeat;

      @media (--tablet-width) {
        top: 150px;
        left: 365px;

        width: 267px;
        height: 113px;
      }

      @media (--desktop-width) {
        top: 90px;
        left: -20px;

        width: 134px;
        height: 56px;
      }
    }

    @media (--tablet-width) {
      padding-top: 76px;
      padding-left: 0;
      padding-bottom: 26px;

      font-size: 36px;
      text-align: left;
    }

    @media (--desktop-width) {
      padding-bottom: 73px;
      padding-left: 161px;
    }
  }

  &--mass {
    padding-left: 38px;

    @media (--tablet-width) {
      padding-left: 0;
    }

    @media (--desktop-width) {
      padding-left: 161px;
    }

    &::after {
      @media (--tablet-width) {
        top: 136px;
        left: 359px;
      }

      @media (--desktop-width) {
        top: 69px;
        left: -19px;
      }
    }
  }

  &--slim {
    &::after {
      top: 22px;
      left: 10px;

      width: 35px;
      height: 49px;

      background-image: url("../img/icon-cat-slim.svg");

      @media (--tablet-width) {
        top: 77px;
        left: 422px;

        width: 143px;
        height: 197px;
      }

      @media (--desktop-width) {
        top: 41px;
        left: 15px;

        width: 70px;
        height: 97px;
      }
    }
  }
}

.offer__text {
  margin-left: 0;
  padding-bottom: 21px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: var(--set-Arial-font-family);

  border-bottom: 1px solid var(--footer-border-color);

  @media (--tablet-width) {
    width: 380px;

    font-size: 16px;
    line-height: 24px;

    border-bottom: none;
  }

  @media (--desktop-width) {
    width: 464px;
    padding-bottom: 0;
  }

  &--mass {
    @media (--tablet-width) {
      width: 340px;
    }

    @media (--desktop-width) {
      width: 445px;
    }
  }
}

.offer__link {
  display: inline-block;
  width: 100%;
  padding: 20px 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-family: var(--set-Oswald-font-family);
  vertical-align: middle;
  color: black;
  text-transform: uppercase;
  position: relative;

  &::before {
    content: "";
    width: 20px;
    height: 13px;
    background-image: url(../img/icon-right-arrow-long.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 27px;
    left: 97px;

    @media (--tablet-width) {
      top: 7px;
      left: 131px;
    }
  }

  &:hover:before {
    background-image: url("../img/icon-right-arrow-verylong.svg");
    width: 35px;
    height: 16px;
    top: 5px;
  }

  &:active:before {
    opacity: 0.3;
  }

  @media (--tablet-width) {
    padding: 0;
    padding-bottom: 62px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (--desktop-width) {
    padding-bottom: 60px;
  }

  &--pro {
    @media (--tablet-width) {
      &::before {
        left: 125px;
      }

      &::after {
        left: 143px;
      }
    }
  }
}
