.page-footer {
  background-color: var(--bgc-grey);
}

.page-footer__wrapper {
  text-align: center;

  @media (--tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 23px;
    padding-bottom: 24px;
  }

  @media (--desktop-width) {
    padding-top: 24px;
  }
}

.page-footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;

  @media (--tablet-width) {

  }

  @media (--desktop-width) {
    padding-top: 8px;
  }
}

.page-footer__link {
  padding-top: 5px;
  height: 94px;
  display: block;
  color: var(--grey-color-link);
  border-bottom: 1px solid var(--footer-border-color);

  @media (--tablet-width) {
    border-bottom: none;
  }

  &--name {
    height: auto;
    padding: 0;
    border-bottom: none;
    font-family: var(--set-Arial-font-family);
    font-size: 16px;
    line-height: 16px;

    @media (--tablet-width) {
      margin-right: 17px;
      margin-top: 4px;
    }
  }
}

.page-footer__social {
  @media (--tablet-width) {
    margin-left: 25px;
  }
}

.page-footer__logo {
  width: 35px;
}

.page-footer__icon {
  width: 40px;
  height: 40px;
  margin-top: 5px;
}
