.page-footer {
  background-color: var(--bgc-grey);
}

.page-footer__wrapper {
  text-align: center;

  @media (--tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.page-footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
}

.page-footer__link {
  display: block;
  color: var(--grey-color-link);
  border-bottom: 1px solid var(--footer-border-color);

  &--name {
    border-bottom: none;
    font-family: var(--set-Arial-font-family);
    font-size: 16px;
    line-height: 16px;
  }

  @media (--tablet-width) {
    border-bottom: none;
  }
}
