.promo {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.promo__title {
  margin: 0 auto 35px auto;
  padding-top: 20px;
  font-family: var(--set-Oswald-font-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: white;
  text-align: center;
}

.promo__text {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-family: var(--set-Oswald-font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

.promo__link {
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
}
