.promo {
  background-image: url("../img/index-background-mobile@1x.jpg"),
    linear-gradient(to top, #ffffff 197px, #61a63c 197px);
  background-repeat: no-repeat;
  background-size: 320px auto;

  @media (--retina) {
    background-image: url("../img/index-background-mobile@2x.jpg"),
      linear-gradient(to top, #ffffff 197px, #61a63c 197px);
    background-size: 320px auto;
  }

  @media (--tablet-width) {
    min-height: 810px;

    background-image: none;
  }

  @media (--desktop-width) {
    min-height: 627px;

    &::after {
      content: "";
      width: 643px;
      height: 697px;
      position: absolute;
      display: block;
      background-color: #64a83c;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-position: top right;
      background-size: 720px auto;
      background-repeat: no-repeat;
      z-index: -1;

      top: 0;
      right: 0;

      @media (--retina) {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }
  }
}

.promo__title {
  margin: 0 auto 27px auto;
  padding-top: 26px;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  font-family: var(--set-Oswald-font-family);
  text-align: center;
  color: white;

  @media (--tablet-width) {
    width: 505px;
    margin: 0;
    margin-bottom: 40px;
    padding-top: 26px;
    padding-left: 87px;

    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: black;
  }

  @media (--desktop-width) {
    display: flex;
    margin-bottom: 42px;
    padding-top: 98px;
    padding-left: 80px;
  }

  // &::before {
  //   @media (--desktop-width) {
  //     content: "";
  //     position: absolute;
  //     top: 0;
  //     right: 72px;
  //     z-index: -1;

  //     width: 720px;
  //     height: 696px;
  //     flex-grow: 1;

  //     background-color: var(--green-color);
  //     background-image: url("../img/index-background-desktop@1x.jpg");
  //     background-repeat: no-repeat;
  //     background-size: 720px auto;

  //     @media (--retina) {
  //       background-image: url("../img/index-background-desktop@2x.jpg");
  //       background-size: 1440px auto;
  //     }
  //   }
  // }
}

.promo__text {
  margin-right: auto;
  margin-bottom: 26px;
  margin-left: auto;

  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  font-family: var(--set-Oswald-font-family);
  text-align: center;
  color: white;
  text-transform: uppercase;

  @media (--tablet-width) {
    padding-left: 88px;

    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: black;
  }

  @media (--desktop-width) {
    margin-bottom: 51px;
    padding-left: 80px;
  }
}

.promo__btn {
  display: inline-block;
  width: 100%;
  margin-bottom: 22px;
  padding-top: 11px;
  padding-bottom: 11px;

  vertical-align: middle;
  text-align: center;

  @media (--tablet-width) {
    position: absolute;
    top: 369px;
    left: 119px;

    width: 245px;
    padding: 16px 12px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (--desktop-width) {
    position: static;

    margin-left: 80px;
  }
}

.promo__img {
  @media (--tablet-width) {
    position: absolute;
    top: 341px;
    left: 29px;
  }

  @media (--desktop-width) {
    top: 142px;
    left: 632px;
  }
}
