.promo {

  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;

  @media (--retina) {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: contain;
  }

  @media (--tablet-width) {
    min-height: 810px;

    background-image: none;
  }

  @media (--desktop-width) {
    min-height: 627px;
  }
}

.promo__title {
  margin: 0 auto 27px auto;
  padding-top: 26px;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  font-family: var(--set-Oswald-font-family);
  text-align: center;
  color: white;

  @media (--tablet-width) {
    padding-top: 26px;
    padding-left: 87px;
    width: 505px;
    margin: 0;
    margin-bottom: 40px;

    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: black;
  }

  @media (--desktop-width) {
    padding-left: 80px;
    padding-top: 98px;
    margin-bottom: 42px;
    display: flex;
  }

  &::before {
    @media (--desktop-width) {
      content: "";
      position: absolute;
      top: 0;
      right: 72px;
      z-index: -1;

      width: 720px;
      height: 696px;
      flex-grow: 1;

      background-color: var(--green-color);
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-size: 720px auto;

      @media (--retina) {
        background-image: url("../img/index-background-desktop@2x.jpg");
        background-size: 1440px auto;
      }
    }
  }
}

.promo__text {
  margin-right: auto;
  margin-bottom: 26px;
  margin-left: auto;

  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  font-family: var(--set-Oswald-font-family);
  text-align: center;
  color: white;
  text-transform: uppercase;

  @media (--tablet-width) {
    padding-left: 88px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: black;
  }

  @media (--desktop-width) {
    padding-left: 80px;
  }
}

.promo__link {
  width: 100%;
  margin-bottom: 22px;
  padding: 0;

  @media (--tablet-width) {
    position: absolute;
    top: 369px;
    left: 119px;
    width: 245px;
    min-height: 53px;
  }

  @media (--desktop-width) {
    top: 456px;
    left: 212px;
  }
}

.promo__btn {
  @media (--tablet-width) {
    width: 245px;
    padding: 16px 12px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (--desktop-width) {
    margin-left: 50px;
  }
}

.promo__img {
  @media (--tablet-width) {
    position: absolute;
    top: 341px;
    left: 29px;
  }

  @media (--desktop-width) {
    top: 142px;
    left: 632px;
  }
}
