.slider {
  @media (--tablet-width) {
    position: relative;
    min-height: 463px;
    background-color: var(--bgc-grey);
  }
}

.slider__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  @media (--tablet-width) {
    padding-top: 367px;
  }

  @media (--desktop-width) {
    padding-top: 364px;
  }
}

.slider__text {
  font-family: var(--set-Oswald-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (--tablet-width) {
    font-size: 20px;
    padding-bottom: 5px;
    border-bottom: 1px dashed var(--slider-dash-border);

    &:hover {
      border-bottom: 1px solid var(--slider-solid-border);
    }

    &:active {
      border-bottom: none;
    }
  }
}

.slider__img {
  @media (--tablet-width) {
    position: absolute;
    top: -170px;
    left: 37px;
  }

  @media (--desktop-width) {
    top: -194px;
    left: -62px;
  }

  &--fat {
    margin-bottom: 29px;
    margin-right: -20px;
    margin-left: -20px;
  }

  &--slim {
    display: none;
  }
}

.slider__scale {
  display: inline-block;
  vertical-align: middle;
  margin: 0 18px;
  width: 80px;
  height: 13px;
  background-color: white;
  border: 1px solid var(--grey-color-stat);
  border-radius: 5px;

  @media (--tablet-width) {
    width: 430px;
    margin: 0 20px;
    height: 6px;
    border: none;
    background-color: var(--slider-scale-bar);
  }
}
