.tel-input {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 45px;

  @media (--desktop-width) {
    width: 570px;
  }
}

.tel-input__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: var(--set-Oswald-font-family);
  text-transform: uppercase;

  @media (--tablet-width) {
    margin-right: 4px;

    font-size: 20px;
    line-height: 20px;
  }
}

.tel-input__control {
  width: 100%;
  margin-left: 10px;
  padding: 12px 50px 12px 15px;

  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: var(--set-Oswald-font-family);
  text-transform: uppercase;

  border: 1px solid var(--grey-border-color);
  outline: none;

  &:hover {
    border: 1px solid var(--grey-input-hover);
  }

  &:focus {
    border: 2px solid var(--grey-color-font);
    padding: 11px 49px 11px 14px;

    @media (--desktop-width) {
      padding: 9px 49px 9px 19px;
    }
  }

  &:focus ~ .tel-input__icon {
    fill: var(--green-color);
  }

  &:invalid {
    border: 2px solid red;
  }

  &:invalid ~ .tel-input__icon {
    fill: red;
  }

  @media (--tablet-width) {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;

    font-size: 20px;
    line-height: 20px;
  }
}

.tel-input__icon {
  position: absolute;
  top: 13px;
  right: 13px;

  @media (--tablet-width) {
    top: 15px;
    right: 16px;
  }
}
