.text-input {
  width: 100%;
  min-height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (--desktop-width) {
    margin-bottom: 20px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.text-input__label {
  font-family: var(--set-Oswald-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin-right: 13px;
  text-transform: uppercase;
  white-space: nowrap;

  @media (--tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: auto;
    margin-right: 19px;
  }

  @media (--desktop-width) {
    margin-left: 0;
  }
}

.text-input__control {
  font-family: var(--set-Oswald-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 12px 15px;
  width: 100%;
  border: 1px solid var(--grey-border-color);
  outline: none;

  &:invalid {
    border: 1px solid red;
  }

  &:hover {
    border: 1px solid var(--grey-input-hover);
  }

  &:focus {
    border: 1px solid var(--grey-color-font);
  }

  @media (--tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
