.textarea__field {
  width: 100%;
  min-height: 150px;
  border: 1px solid var(--grey-border-color);
  font-family: var(--set-Oswald-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 13px;

  @media (--tablet-width) {
    min-height: 175px;
    font-size: 20px;
    line-height: 30px;
    padding: 10px 18px;
  }
}
