:root {
  --green-color: #68b738;
  --bgc-grey: #f2f2f2;
  --grey-color-link: #666666;
  --grey-border-color: #ededed;
  --footer-border-color: #d9d9d9;
  --grey-color-stat: #cdcdcd;
  --color-border-nav: #e6e6e6;
  --color-plus-icon: #d3d3d3;
  --grey-color-font: #444444;
  --slider-dash-border: #bebebe;
  --input-border-color: #cecece;
  --slider-scale-bar: #dcdcdc;

  --set-Oswald-font-family: "Oswald", "Arial", sans-serif;
  --set-Arial-font-family: "Arial", sans-serif;

  @custom-media --tablet-width (min-width: 768px);
  @custom-media --desktop-width (min-width: 1300px);
}
